<!-- <ul>
    {% for post in recent_posts %}
    <li>
    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
    </li>
    {% endfor %}
</ul> -->
{% load blog_tags %}

{% for post in recent_posts %}
<div class="media post_item">
    <img src="{{ post.image.url}}" alt="post" width="80px" height="80px">
    <div class="media-body">
        <a href="{{ post.get_absolute_url }}">
            <h3>{{post.title}}</h3>
        </a>
        <p>{{post.publish|time_ago}}</p>
    </div>
</div>
{% endfor %}