{% extends 'base.html' %}
{% load bootstrap4 %}
<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
    {% block body %}
    <!-- header-start -->

    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>{{job_details.title}}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->

    <div class="job_details_area">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-8 mx-auto">
                    <div class="job_sumary">
                        <div class="summery_header">
                          
                            <h3>Profile Summery</h3>
                        </div> 
                        <div class="job_content">
                            <ul>
                                <li>Name: <span>{{profile.user.username}}</span></li>
                                <li>Phone: <span>{{profile.phone}}</span></li>
                                <li>Email: <span>{{profile.user.email}}</span></li>
                                <li>Location: <span>{{profile.city.name}}</span></li>
                                
                            </ul>
                        </div>
                        <div class="p-6">
                            <a class="boxed-btn3 w-100" href="{% url 'register:profile_editor' %}">Edit Profile</a>
                        </div>
                    </div>
                    
            
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    <!-- footer start -->
  
</body>

</html>