{% extends 'base.html' %}
{% load bootstrap4 %}

    {% block body %}

    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>Add Job</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->

    <div class="job_details_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="job_details_header">
                        <div class="single_jobs white-bg d-flex justify-content-between">
                            
                           
                        </div>
                    </div>
                    
                    {% block content %}
                        
                    {% endblock content %}
                        
                    
                </div>
               
            </div>
        </div>
    </div>
    {% endblock %}
